:root {
  --bg-color: #000;
  --text-color: #fff;
  --overlay-color: rgb(0, 0, 0, 0.4);
  --hero-gradient: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
  --btn-primary: #e50914;
  --btn-primary-hover: #f40612;
  --place-holder: #8c8c8c;
}